# ==========================================
# Ignorar carpetas de compilación
# ==========================================
build/
CMakeCache.txt
CMakeFiles/

# ==========================================
# Ignorar configuraciones del editor
# ==========================================
.vscode/

# ==========================================
# Ignorar archivos temporales de Windows/Mac
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Ignorar archivos de log
# ==========================================
src/code_extractor.py
src/codigo_proyecto.txt

graphics/
evaluacion/*
!evaluacion/memoria/
!evaluacion/memoria/**
.cursor/skills/tfm-eval-*/
